@page
@{
    byte minValue = byte.MinValue;
    byte maxValue = byte.MaxValue;
}


<div>
    <h1>Tipos Numéricos</h1>
    <p>
        byte Min: @minValue
    </p>
    <p>
        byte Max: @maxValue
    </p>

    <p>
        short Min: @short.MinValue
    </p>
    <p>
        short Max: @short.MaxValue
    </p>
</div>