<html>
    <head>
        <title>Fundamentos C#</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/Index">Inicio</a>
                    </li>
                    <li>
                        <a href="/TiposNumericos">Tipos Numéricos</a>                        
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>Proway Info - 2022</p>
        </footer>
    </body>
</html>